@model WebApp1.Models.VisitAvailability

@if (Model.Doctor.Count() == 0)
            {
                <style>
                    .singeBox{
                        background-color:red;
                    }
                </style>
            }
            else
            {
                <style>
                    .singeBox {
                        background-color: greenyellow;
                    }
                </style>
            }

<div class="singeBox">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
    </dl>
</div>
