@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Specialization
<tr>
    <td>
        @Model.SpecializationName
        @Html.ActionLink("Find", "Find", new { name = Model.SpecializationName })
        <br />
    </td>
</tr>