@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strona startowa przychodni</h1>
    <p>Tutaj bedzie navbar z tymi kontaktami itp itd <br />
    <a href="https://docs.microsoft.com/aspnet/core"> przykladowy odnosnik do czegos tam</a>.</p>
    @Html.ActionLink("Admin", "GoAdminMode") | 
    <div>
        Ten admin bedzie tu tylko chwilowo dla wygody, pozniej bedzie usuniety i tylko przez odpowiedni URL admin bedzie wchodzic
    </div>
</div>
