@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row justify-content-center">
    <div class="col col-md-8 justify-content-center text-lg-center @ViewData["valid"]">@ViewData["msg"]</div>
</div>